<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>RCTV</title>
  <meta http-equiv="refresh" content="{{ meta_refresh_seconds }}; url=/app/{{ next_app_index }}">
  <style>
    html, body, iframe {
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  </style>
  <script>
    window.rcPayload = {{ rc_payload|tojson|safe }};

    window.onmessage = (event) => {
      const data = event.data;
      if(data.type === 'getRCPayload') {
        event.source.window.postMessage({
          type: 'RCPayload',
          payload: window.rcPayload
        }, '*');
        return;
      }
    }
  </script>
</head>
<body><iframe width="100%" height="100%" src="{{ app.url }}" border="0" style="border:0" /></body>
</html>